
   
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {

height: 100% ;
width: 100% ;
background-color: #424242 ;
color: #222;
}

.main-container{
    width: 100vw;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, auto );
    gap: 10px;
    justify-content: space-evenly;
    padding-top: 50px;

}

.card{
    width: 600px;
    height: 800px;
    border: 2px solid;
    
 
}




.navbar{
  background-color: #f5f5f5 ;
  height: 75px;

}

 #logoimg{

       height:65px;
  }

.nav-item {

  font-size: 1.4em ;
   color: #000000;
  padding-right: 20px ;
}

.carousel-caption{

  color: #000000;
  transform: translateY(-40%);
}

.carousel-caption h1 {

  font-size: 60px ;
  font-weight: 1px;
}



.carousel-image{

  
  width: 100%;
  height: 500px  ;
  }







